
.audioPlayer {
    --primary:#f40082;
    --secondary:#ffd200;

    display: flex;
    width: 200px;

}
.progressBarContainer {
    display:flex;
    width: 100vh;
}

.forward {
    background: none;
    border: none;
    display: flex;
    align-items: center;
    font-family: 'Graduate', cursive;
    font-weight: bold;
    font-size: 16px;
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>👉</text></svg>") 16 0, auto;
}

.backward {
    background: none;
    border: none;
    display: flex;
    align-items: center;
    font-family: 'Graduate', cursive;
    font-weight: bold;
    font-size: 16px;
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>👈</text></svg>") 16 0, auto;
}

.forwardBackward:hover {
    color:var(--primary);
}

.playPause {
    background-color: var(--primary);
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    font-size: 30px;
    color: var(--secondary);
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🤯</text></svg>") 16 0, auto;
}

.play {
    position:relative;
    left: 5px;
    top: 3px;
}

.pause {
    position:relative;
    left: 1px;
    top: 3px;
}

.currentTime,
.duration {
    font-family: 'Graduate', cursive;
    font-weight: bold;
    font-size: 16px;
    margin-left: 2%;
    margin-right: 2%;
}

.currentTime {
    margin-left: 25px;
}

.progressBar {
    --bar-bg:#ffe3d4;
    --seek-before-width:0px;
    --seek-before-color:#ffc2a1;
    --knobby: #47507A; 
    --selectedKnobby: #8893C7;

    appearance: none;
    background: var(--bar-bg);
    border-radius: 10px;
    position: relative;
    width: 80vh;
    height: 11px;
    outline: none;
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>👆</text></svg>") 16 0, auto;

}

/* progressBar  - safari */
.progressBar::-webkit-slider-runnable-track {
    background: var(--bar-bg);
    border-radius: 10px;
    position: relative;
    width: 100%;
    height: 11px;
    outline: none;
}

/* progressBar - firefox */
.progressBar::-moz-range-track {
    background: var(--bar-bg);
    border-radius: 10px;
    position: relative;
    width: 100%;
    height: 11px;
    outline: none;
}

.progressBar::-moz-focus-outer{
    border: 0;
}

/* progressBar -chrome and safari */
.progressBar::before {
    content: "";
    height: 11px;
    width: var(--seek-before-width);
    background-color: var(--seek-before-color);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    position:absolute;
    top:0;
    left: 0;
    z-index: 2;
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>👆</text></svg>") 16 0, auto;

}

/* progressBar -firefox */
.progressBar::-moz-range-progress{
    background-color: var(--seek-before-color);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 11px;
}

/* knobby - chome and safari */
.progressBar::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: none;
    background-color: var(--knobby);
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>👆</text></svg>") 16 0, auto;

    position: relative;
    margin: -2px 0 0 0 ;
    z-index: 3;
    box-sizing: border-box;
} 

/* knobby while dragging - chrome and safari */
.progressBar:active::-webkit-slider-thumb {
    transform: scale(1.2);
    background: var(--selectedKnobby);
}

/* knobby - firefox */
.progressBar::-moz-range-thumb{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: transparent;
    background-color: var(--knobby);
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>👆</text></svg>") 16 0, auto;

    position: relative;
    z-index: 3;
    box-sizing: border-box;
}

/* knobby while dragging - firefox */
.progressBar:active::-moz-range-thumb {
    transform: scale(1.2);
    background: var(--selectedKnobby);
}